{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
<article class="post">
  <aside class="actions">
    {% if user.is_authenticated %}

    <button type="button" class="btn btn-primary" id="editPostBtn"
            data-bs-toggle="modal" data-bs-target="#editPostModal">
      <img src="{% static 'icons/pencil-fill.svg' %}" alt="My image">
    </button>


    <!-- Modal -->
    <!-- The Modal -->
    <div class="modal" id="editPostModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <h2>post</h2>
            <form method="POST" class="post-form" id="post-form">{% csrf_token %}

              <label for="title">Title:</label>
              <input type="text" class="form-control" name="title" value="{{ post.title }}" maxlength="200" required=""
                     id="title">

              <label for="text">Text:</label>
              <textarea name="text" class="form-control" cols="40" rows="10" required=""
                        id="text">{{ post.text }}</textarea>

            </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button type="button" class="save btn btn-secondary" id="editPostBtnS" onClick="editPost({{post.pk}})">
              Save
            </button>

          </div>

        </div>
      </div>
    </div>
    {% endif %}
  </aside>
  {% if post.published_date %}
  <time class="date">
    {{ post.published_date }}
  </time>
  {% endif %}
  <h2>{{ post.title }}</h2>
  <p>{{ post.text|linebreaksbr }}</p>
</article>


{% endblock %}

{% block javascript %}
<script>
  function editPost(id) {
    if (id) {
      var serializedData = $('#post-form').serializeArray();
      console.log(serializedData);

      $.ajax({
        url: `edit/`, // the endpoint
        type: "POST", // http method
        data: serializedData, // data sent with the post request

        // handle a successful response

        success: function (response) {
          if(serializedData[1]['value']!='' && serializedData[2]['value']!='') {
            $('#editPostModal').modal('toggle');
            window.location.reload();
          }
          else
          {
            alert("Title or Text empty")
          }

        },
        // handle a non-successful response
        error: function (xhr, errmsg, err) {
          $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
          console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
      });
    }
  }


</script>
{% endblock %}
