{% extends 'blog/base.html' %}
{% load static crispy_forms_tags crispy_forms_filters %}


{% block content %}
<article class="post">
  <aside class="actions">
    {% if user.is_authenticated %}

    <button type="button" class="btn btn-primary" id="editPostBtn"
            data-bs-toggle="modal" data-bs-target="#editPostModal" onClick="editPost({{post.pk}})">
      <img src="{% static 'icons/pencil-fill.svg' %}" alt="My image">
    </button>


    <!-- Modal -->
    <!-- The Modal -->
    <div class="modal" id="editPostModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <h2>post</h2>
           <div id="results">

           </div>
           <div id="formContent">

           </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button type="button" class="save btn btn-secondary" id="editPostBtnSave" >
              Save
            </button>

          </div>

        </div>
      </div>
    </div>
    {% endif %}
  </aside>
  {% if post.published_date %}
  <time class="date">
    {{ post.published_date }}
  </time>
  {% endif %}
  <h2 id="titleInput">{{ post.title }}</h2>
  <p id="textInput">{{ post.text|linebreaksbr }}
  </p>
</article>


{% endblock %}

{% block javascript %}
{{block.super}}
 <script src="{% static 'scripts/main.js' %}"></script>
{% endblock %}
